* {
  box-sizing: border-box;
}
html{
  height: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
body{
  height: 100%;
  margin: 0 auto;
}
header{
  position: fixed;
  z-index: 99999;
  height: 50px;
  width: 100%;
  top:0;
  /* background-color: #144c91; */
  display: table;
}
.headline {
  font-size:33px;
  margin-top:-10px;
  letter-spacing:1.4px;
}
.headline-2 {
  font-size:20px;
  color:gray;
  font-weight:200;
}
#pageLogo{
  position: absolute;
  height:100%;
  width: 200px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-left:10px;
  background-image: url('/images/taboolaLogo.png');
}
#pageTitle{
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 8px;
  font-size: 30px;
  transition: all ease 0.7s;
}
#pageBody{
  margin-top: 50px;
  position: relative;
  
}
.header-text {
  padding:10px;
}
#pageBreak{
  z-index: 99999;
  height: 20px;
  width: 100%;
  top:0;
  background-color: #144c91;
  display: table;
}
#setupSection{
  border-right: 1px solid #d2d2d2;
  position: fixed;
}
#formTitle,#previewTitle{
  font-weight: 700;
  font-size: 26px;
  text-decoration: underline;
  margin-bottom: 10px;
  display: block;
}
#articleTitle{
  display: block;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
}
.row-2{
  margin: 0 auto;
  width: 60%;
}

p{
  font-family:"Times";
  letter-spacing:1.4px;
  line-height:25px;
}
.column {
  float: left;
  padding: 10px;
  
}

.left {
  width: 70%;
  
}

.header-tab {
  /* width:250px; */
  padding-top:20px;
  padding-left:10px;
}

.header-menu{
    color:black;
    display:inline;
    padding-right:30px;
    font-family:DecimaMono,Consolas,Monaco,monospace;
    font-size:14px;
    font-weight:600;
}
.header-end {
  display:inline;
  color:gray;
  padding-right:10px;
  font-family:DecimaMono,Consolas,Monaco,monospace;
  font-size:14px;
  font-weight:600;
  float:right;
  list-style-type: none;
}

.rec-items {
  list-style-type: none;
  padding-left:0;
}

.rec-item {
    margin-top:20px;
    margin-bottom:25px;
    font-weight:600;
    letter-spacing:1.5px;
    font-size:15px;
    line-height:26px;
}

.right {
  width: 30%;
  border-left: 1px solid #d1d3d4;
  padding-left:25px;
}

.signup {
    text-align:center;
    margin-top:51px;
}

.sub-button {
    /* margin:12px auto; */
    width:auto;
    border:1px solid;
    background-color:transparent;
    padding:10px;
    font-family:DecimaMono,Consolas,Monaco,monospace;
    font-size:14px;
    letter-spacing:1.5px
}

.ad-class {
  border:1px solid;
  padding:75px 25px 75px 25px;
  margin-bottom:50px;
  margin-top:50px;
  text-align:center;
  font-size:40px;
  font-family:DecimaMono,Consolas,Monaco,monospace;
}

/* Remove .sticky-holder to make the category element fixed */
.sticky-holder {
  position:sticky;
  top:4em;
}

.box-up {
  text-align:center;
  margin-top:-5px;
}

.box-class {
  /* border:1px solid; */
  padding:0px 25px 75px 5px;
  margin-bottom:50px;
  margin-top:50px;
  text-align:center;
  font-size:40px;
  font-family:DecimaMono,Consolas,Monaco,monospace;
}

.box-category {
  text-align:left;
  font-family:DecimaMono,Consolas,Monaco,monospace;
  /* border:1px solid; */
  letter-spacing:1.4px;
  line-height:25px;
  font-size:14px;
  background-color:#ffe4c1;
  padding:5px 15px;
  margin:5px 1px 5px 1px;
  font-weight:400;
}

.a_cat {
  /* width:55%; */
  width:7.4em;
}

.b_cat {
  /* width:60%; */
  width:8.7em;
}

.c_cat {
  /* width:48%; */
  width:7.0em;
}

.d_cat {
  /* width:64%; */
  width:9.1em;
}

.filed-headline {
  font-size:20px;
  color:gray;
  font-weight:200;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.dummy-container {
    width:90%;
    margin-left: auto;
    margin-right:auto;
    /* display:block; */
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
}
.dummy-parent {
    
}
