<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>

<body>
    <header>
        <div id="pageLogo"></div>
        <div id="pageTitle">Feed Test Page</div>
        <hr style="border-width:2px;">

    </header>
  

  <div id="pageBody"> 
    <ul class="header-tab">
        <li class="header-menu">Politics</li>
        <li class="header-menu">Sports</li>
        <li class="header-menu">Economics</li>
        <li class="header-menu">Culture</li>
        <li class="header-end">Podcast: Our 2018 Politics Awards!</li>
    </ul>
    <div class="header-text">
        <!-- <h1>Lorem Ipsum</h1>
        
        <h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
        <h5>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is
            pain..."</h5> -->
           
    </div>
    <div class="row">

        <div class="column left">
          <h2 class="headline">Presidential Primary Debates Can Make — And Break — A Campaign</h2>
          <h3 class="headline-2">Democratic 2020 contenders, start your prep.</h3>
          <p style="font-family:DecimaMono,Consolas,Monaco,monospace;font-size:10px">
              By <b>Richard Scheiwe</b></br>
              Filed under <b>Presidential Debates</b>
          </p>
          <img src='images/galaxy.jpg' width="100%" style="padding-top:20px;">
          <p style="font-family:DecimaMono,Consolas,Monaco,monospace;font-size:10px;color:gray;line-height:16px;margin-top:-2px;padding-bottom:15px">Republican presidential candidate Rick Perry experienced some debate trouble in 2012.	SCOTT OLSON / GETTY IMAGES
            </p>    
          <p>
                Sed gravida libero ante, vitae tempus lorem vestibulum et. Nulla nec Rifat eros. Sed lorem mi,
                dapibus tristique sollicitudin vitae, accumsan ac nibh. Maecenas at Zlil mi. Fusce maximus
                volutpat nunc, ut fermentum felis ullamcorper at. Pellentesque pretium elit ut Irit tincidunt,
                id vehicula quam sollicitudin. Nunc tortor orci, hendrerit sed condimentum at, tristique eu
                dolor. Pellentesque vehicula mauris ut varius luctus. Quisque bibendum porttitor ligula, ac
                efficitur velit fringilla ac.
            </p>
            <p>
                Alex tristique turpis erat, eleifend posuere tortor accumsan vel. Pellentesque vitae laoreet
                magna. Vestibulum eu quam ac ex iaculis mattis sit amet vitae enim. Phasellus ut mollis lectus.
                Praesent efficitur porttitor sodales. Aenean dapibus interdum nunc eu consequat. Donec nec
                tortor ac eros pellentesque dapibus. Vestibulum finibus tellus vel luctus sollicitudin.
            </p>
            <p>
                Sed non turpis sed lectus Asaf semper. Duis elit quam, sodales id Narkis at, aliquet porttitor
                turpis. Nunc varius, risus et vehicula vestibulum, nunc est egestas erat, ac ultrices velit
                magna in eros. Maecenas et egestas felis. Morbi et tellus augue. Nunc eleifend dui purus, nec
                viverra sem tincidunt nec. Donec eu commodo lorem. Integer eros est, tincidunt gravida metus et,
                eleifend dapibus lacus. Integer eget neque ac lectus pharetra maximus. Vestibulum eget molestie
                nisl. Fusce pharetra turpis vitae nunc efficitur lobortis. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Cras ut justo tempus, posuere augue sit
                amet, vulputate lectus. Vivamus venenatis maximus urna in mollis.
            </p>
            <p>
                Alex tristique turpis erat, eleifend posuere tortor accumsan vel. Pellentesque vitae laoreet
                magna. Vestibulum eu quam ac ex iaculis mattis sit amet vitae enim. Phasellus ut mollis lectus.
                Praesent efficitur porttitor sodales. Aenean dapibus interdum nunc eu consequat. Donec nec
                tortor ac eros pellentesque dapibus. Vestibulum finibus tellus vel luctus sollicitudin. Alex tristique turpis erat, eleifend posuere tortor accumsan vel. Pellentesque vitae laoreet
                magna. Vestibulum eu quam ac ex iaculis mattis sit amet vitae enim. Phasellus ut mollis lectus.
                Praesent efficitur porttitor sodales. Aenean dapibus interdum nunc eu consequat. Donec nec
                tortor ac eros pellentesque dapibus. Vestibulum finibus tellus vel luctus sollicitudin.
            </p>
            <p>
                Sed non turpis sed lectus Asaf semper. Duis elit quam, sodales id Narkis at, aliquet porttitor
                turpis. Nunc varius, risus et vehicula vestibulum, nunc est egestas erat, ac ultrices velit
                magna in eros. Maecenas et egestas felis. Morbi et tellus augue. Nunc eleifend dui purus, nec
                viverra sem tincidunt nec. Donec eu commodo lorem. Integer eros est, tincidunt gravida metus et,
                eleifend dapibus lacus. Integer eget neque ac lectus pharetra maximus. Vestibulum eget molestie
                nisl. Fusce pharetra turpis vitae nunc efficitur lobortis. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Cras ut justo tempus, posuere augue sit
                amet, vulputate lectus. Vivamus venenatis maximus urna in mollis. Sed non turpis sed lectus Asaf semper. Duis elit quam, sodales id Narkis at, aliquet porttitor
                turpis. Nunc varius, risus et vehicula vestibulum, nunc est egestas erat, ac ultrices velit
                magna in eros. Maecenas et egestas felis. Morbi et tellus augue. Nunc eleifend dui purus, nec
                viverra sem tincidunt nec. Donec eu commodo lorem. 
            </p>
        </div>
        
        <div class="column right" >
          <h3 class="headline-2" style="font-family:DecimaMono,Consolas,Monaco,monospace;font-size:14px;letter-spacing:1.5px">
            RECOMMENDED
            <hr>
        </h3>
        <ul  class="rec-items">
            <li class="rec-item">Emergency Politics Podcast: Mattis Is Out, Shutdown Is On (?)</li>
            <li class="rec-item">What Comes Next In That Contested Election In North Carolina</li>
            <li class="rec-item">How Elizabeth Warren Could Win The 2020 Democratic Primary</li>
        </ul>
        <p class="ad-class">
            AD
        </p>
        <div class="signup">
            <h4 style="font-size:16px; font-weight:300;letter-spacing:1.5px;padding:10px 10px 0px 10px;">Want more feed test? Get our weekly most popular stories newsletter.</h4>
            <button class="sub-button">Subscribe</button>
        </div>
        <div class="signup">
            <img src='images/approval.png' width="100%" style="padding-top:20px;">
            <button class="sub-button">See All Approval Polls</button>
        </div>
        <div class="signup">
            <p class="ad-class">
                AD
            </p>
        </div class="signup">
        <img src='images/scores.png' width="100%" style="padding-top:20px;">
    </div>
</div>

<!-- Encasing Taboola Feed Container -->
<!-- <div class="dummy-parent"> -->
    <!-- .dummy-container allows for the sticky element to start in place -->

    
        
        <!-- Tahoola widget-rendering code -->
        <div id="taboola-below-article-thumbnails"></div>
        <!-- end Taboola widget-rendering code -->

        <!-- sticky element holder -->

        <!-- <div style="display:inline-block;margin-left:20px; width:20%" class="sticky-holder">
            <div class="box-up">
                <div class="box-class" style="height:350px">
                    <h3 class="headline-2" style="text-align:left;font-family:DecimaMono,Consolas,Monaco,monospace;font-size:14px;letter-spacing:1.5px">
                        FILED UNDER
                    </h3>
                    <hr style="margin:10px 0px 20px">
                    <p class="box-category a_cat">POLITICS</p>
                    <p class="box-category b_cat">ECONOMICS</p>
                    <p class="box-category c_cat">SCIENCE</p>
                    <p class="box-category d_cat">GOVERNMENT</p>
                </div>
            </div>
        </div> -->

        <!-- end sticky element holder -->

    

    <!-- end .dummmy-container holding sticky element -->
<!-- </div> -->
<!-- End Encasing -->

    
</body>
</html>